@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-banner" name="About">
    <div class="page-banner__bg-image" style="background-image: url(Resources/images/HistoryCroped.jpg);"></div>
    <div class="page-banner__content container container--narrow">
        <h1 class="page-banner__title">Sobre Nosotros</h1>
        <div class="page-banner__intro">
            <p>Conoce a tu Revista.</p>
        </div>
    </div>
</div>

<div class="container container--narrow page-section">

    <div class="metabox metabox--position-up metabox--with-home-link">
        <p><a class="metabox__blog-home-link" href="@Url.Action("Index", "Home")"><i class="fa fa-home" aria-hidden="true"></i> Regresar</a> <span class="metabox__main"> Sobre Nosotros</span></p>
    </div>

    <div class="page-links">
        <h2 class="page-links__title"><a href="#About">Sobre nosotros</a></h2>
        <ul class="min-list">
            <li class="current_page_item"><a href="#History">Nuestra Historia</a></li>
            <li><a href="#Goals">Misión y Visión</a></li>
        </ul>
    </div>

    <div class="generic-content">
        <a name="History"><h1>Historia</h1></a>
        <p>
            Fundada en 1964, la Revista Jurídica de la Universidad Interamericana de Puerto Rico, es una revista profesional, escrita principalmente en español por estudiantes, profesores, y abogados practicantes.
            <br />
            <br />
            Académicamente, la Revista Jurídica promueve el desarrollo de destrezas estudiantiles en las áreas de investigación y análisis jurídico, de expresión oral y escrita, al igual que el conocimiento profundo en áreas específicas del Derecho. También busca promover actitudes apropiadas y cualidades de responsabilidad y dedicación profesional. Además, los estudiantes participan en actividades especiales, tales como simposios, conferencias y talleres de trabajo de investigación, que se ofrecen cada año.
            <br />
            <br />
            La Revista Jurídica constituye una parte integral del currículo y está compuesta de cinco cursos separados, los cuales se ofrecen gratuitamente a estudiantes que son elegibles para su admisión. Cada uno de los cursos requiere la preparación de un proyecto independiente, el cual, dependiendo del nivel del curso, abarca desde comentarios de casos y estatutos, hasta los comentarios sobre un tópico en particular, o artículos principales de fondo. Estos proyectos son desarrollados bajo la supervisión y guía de un miembro de la Junta Editora y de un miembro de la Facultad. Los mejores proyectos son publicados anualmente, tras la revisión y evaluación apropiada por la Junta Editora y el Consejero Académico.
            <br />
            <br />
            La Junta Editora, integrada por estudiantes designados anualmente por la Junta previa y el Consejero Académico, es responsable de la dirección de la Revista y de su política editorial. En esta tarea, la Junta cuenta con la guía del Consejero Académico y de la Junta consultora de la Facultad designada por el Decano.
        </p>
    </div>

</div>

<div class="page-section page-section--beige">
    <div class="container container--narrow generic-content">
        <a name="Goals"><h1>Misión y Visión</h1></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia voluptates vero vel temporibus aliquid possimus, facere accusamus modi. Fugit saepe et autem, laboriosam earum reprehenderit illum odit nobis, consectetur dicta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos molestiae, tempora alias atque vero officiis sit commodi ipsa vitae impedit odio repellendus doloremque quibusdam quo, ea veniam, ad quod sed.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia voluptates vero vel temporibus aliquid possimus, facere accusamus modi. Fugit saepe et autem, laboriosam earum reprehenderit illum odit nobis, consectetur dicta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos molestiae, tempora alias atque vero officiis sit commodi ipsa vitae impedit odio repellendus doloremque quibusdam quo, ea veniam, ad quod sed.</p>
    </div>
</div>



