@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <body>
        <div class="hero-slider">
            <div class="hero-slider__slide" style="background-image: url(Resources/images/Ca1.png);">
                <div class="hero-slider__interior container">
                    <div class="hero-slider__overlay" style="width:90%; text-align:center;">
                        <h1 class="headline headline--large"><strong>Revista</strong> Jurídica UIPR</h1>
                        <h2 class="headline headline--medium">Atrévete a Escribir</h2>
                        <h3 class="headline headline--small">Universidad Interamericana</h3>
                    </div>
                </div>
            </div>
            <div class="hero-slider__slide" style="background-image: url(Resources/images/Ca2.jpg);">
                <div class="hero-slider__interior container">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
            <div class="hero-slider__slide" style="background-image: url(Resources/images/Ca3.jpg);">
                <div class="hero-slider__interior container">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <div class="full-width-split group">
            <!-- Events Section -->
            @{
                Html.RenderAction("Events");
            }

            <!-- Articles Section -->
            @{
                Html.RenderAction("Articles");
            }

        </div>
        <div class="page-banner">
            <div class="page-banner__bg-image" style="background-image: url(Resources/images/library-hero.jpg);"></div>
            <div class="page-banner__content container t-center c-white">
                <h1 class="headline headline--large">Facultad de Derecho</h1>
                <h2 class="headline headline--medium">Se parte de nosotros</h2>
                <br />
                <a href="#" class="btn btn--large btn--blue">Registrate</a>

            </div>
        </div>

    </body>



