@model List<RevistaJuridica.Models.Article>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <body>
        <div class="page-banner">
            <div class="page-banner__bg-image" style="background-image: url(~/Resources/images/ocean.jpg);"></div>
            <div class="page-banner__content container container--narrow">
                <h1 class="page-banner__title">Numeros</h1>

            </div>
        </div>

        <div class="container container--narrow page-section">
            <h2 class="headline headline--medium">Número 250:</h2>
            <ul class="professor-cards">
                @foreach (var item in Model)
                {
                    <li class="professor-card__list-item">
                        <a href="@Url.Action("Details", "Article", new {id=item.Id})" class="professor-card">
                            <img class="professor-card__image" src="~/Resources/images/cyber.jpg">
                            <span class="professor-card__name">@item.Title</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </body>

