@model List<RevistaJuridica.Models.Article>

@{
    Layout = null;
}

<div class="full-width-split__two">
    <div class="full-width-split__inner">
        <h2 class="headline headline--small-plus t-center">Volúmenes Recientes</h2>
        @foreach (var item in Model)
        {
            <div class="event-summary">
                <a class="event-summary__date event-summary__date--beige t-center" href="#">
                    <span class="event-summary__month">@item.ArticleDate.ToString("MMM")</span>
                    <span class="event-summary__day">@item.ArticleDate.ToString("dd")</span>
                </a>
                <div class="event-summary__content">
                    <h5 class="event-summary__title headline headline--tiny"><a href="#">@item.Name</a></h5>
                    <p>@item.Description  <a href="#" class="nu gray">Read more</a></p>
                </div>
            </div>
        }
        <p class="t-center no-margin"><a href="#" class="btn btn--yellow">Ver Todos</a></p>
    </div>
</div>        
         