@model RevistaJuridica.Models.Article

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>New Event</title>
</head>
<body>
    @using (Html.BeginForm("New", "Article", FormMethod.Post))
    {
    <fieldset>
        <legend>Article</legend>
        <div>@Html.LabelFor(model => model.Name)</div>
        <div>@Html.EditorFor(model => model.Name)</div>
        <div>@Html.LabelFor(model => model.Description)</div>
        <div>@Html.EditorFor(model => model.Description)</div>        
        <hr />
        <input type="submit" value="Save" />
    </fieldset>

    }

</body>
</html>
